/sfs/nbproject/private/
/sfs/build/
sfs/nbproject/

sfs/build\.xml

sfs/manifest\.mf
/SFSZG/nbproject/private/
SFSZG/nbproject/

SFSZG/manifest\.mf

SFSZG/build\.xml
/sfs/sfs/nbproject/private/
/sfs/sfs/build/
sfs/sfs/build\.xml

sfs/sfs/manifest\.mf

sfs/sfs/nbproject/build-impl\.xml

sfs/sfs/nbproject/
